.itemsSize {
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
}

.sizeBox {
    border: 1px solid black;
}

.sizeClickDiv {
    display: inline-flex;
    margin: 1%;
    height: 10px;
}

.allInfoDiv {
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
}

.centarItems {
    text-align: center;

margin: auto;
width: 50%;
}

.dropD {
    margin: 20px;
}

.inputsBox {
    padding: 10px;
}

.inputFile {
    padding: 5px;
    display: block;
    margin: auto;
}