.itemsSize {
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
}

.sizeBox {
    border: 1px solid black;
}

.sizeClickDiv {
    display: inline-flex;
    margin: 1%;
    height: 10px;
}

.allInfoDiv {
    display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
}

.centarItems {
    text-align: center;

margin: auto;
width: 50%;
}

.dropD {
    margin: 20px;
}

.inputsBox {
    padding: 10px;
}

.inputFile {
    padding: 5px;
    display: block;
    margin: auto;
}

p {
    margin-bottom: 5px;
}



.confirmation {
   text-align: center;
}

.ButtonX {
    position: absolute;
     margin: 5px;
}

.img1 {
    height: 4vh;
}

.containerCreateItem{
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 8px 8px rgba(0,0,0,.15);

    width: 40%;
    right: 0;
    left: 0;
    top: 30vh;
    bottom: 35vh;
    margin: auto;
    position: absolute;
}

.ButtonX:hover
{
    cursor: pointer;
}

.text1111 {
    transition: box-shadow .5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media only screen and (max-width: 600px) {
   .containerCreateItem {
    width: 80%;
   }
  }