
.mainImg {
   overflow: hidden;

   object-fit: contain;
    height: 50vh;
    width: 100%;
}

.mainImgDiv {

    box-shadow: 0px 15px 10px -15px #111;

}


.clothingInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

a {
    text-decoration: none;
}

.PInfoText {
    color: black;
    text-align: center;

    font-size: 1.4em;
}
