header {
  top:0;
  left: 0;
  right: 0;
  height:20%;  

  padding: 2rem;
  padding-left: 2%;
  padding-right: 2%;
  background-color:#fffea6;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.inlineD {
  display: inline;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  
}

.displayL {
  float:right;
  padding-right:0rem;

  cursor: pointer;
}

.optionsP {
  z-index: 10;
 padding: 0.2rem;
 padding-left: 1.2rem;
padding-right: 1.2rem;

margin-right: 3%;

 float: right;

 right: 1%;

position: sticky;

 background: white;
 border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
 box-shadow: 10px 10px rgba(0,0,0,.15);

}


.LoginText {
  color: black;
  font-weight:600;
  margin-bottom: 0;
  font-size: 1.3em;


}
